<div >
    <div class="modal" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Locked URL</h5>
              </div>
            <div class="modal-body">
              <p>
                <button type="button" class="btn btn-primary" (click) = "removePasswordForNote()">Remove</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-left: 15px;" (click)="logOutButtonPressed()">Logout</button>
                <button type="button" class='btn btn-secondary' data-dismiss="modal" style="margin-left: 15px;" (click)="pressCrossIcon()"><i class="fa fa-times"></i></button>
              </p>
            </div>
         </div>
        </div>
      </div>
</div>